openapi: 3.2.0
info:
  title: Microsoft Exchange Microsoft Graph Mailbox Import Export Mailbox Export API
  description: APIs for discovering, importing, and exporting content from Exchange Online mailboxes in full fidelity through the Microsoft Graph beta endpoint. Enables mailbox migration scenarios and content copying as a replacement for EWS-based approaches. Supports importing and exporting mailbox content including messages, calendar events, and contacts while preserving all metadata and properties.
  version: 0.1.0-beta
  contact:
    name: Microsoft Support
    url: https://support.microsoft.com
    email: support@microsoft.com
  license:
    name: Microsoft API License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
  x-date-modified: '2026-03-04'
servers:
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph beta endpoint (preview)
security:
- oauth2: []
tags:
- name: Mailbox Export
  description: Operations for exporting content from mailboxes
paths:
  /users/{user-id}/mailboxes/{mailbox-id}/folders/{folder-id}/items:
    get:
      operationId: listMailboxFolderItems
      summary: Microsoft Exchange List folder items
      description: List items in a specific mailbox folder for export. Returns items with their metadata for batch export processing. Supports pagination for large folders.
      tags:
      - Mailbox Export
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/MailboxIdParam'
      - $ref: '#/components/parameters/FolderIdParam'
      - $ref: '#/components/parameters/TopParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/SelectParam'
      responses:
        '200':
          description: Successfully retrieved folder items
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@odata.context':
                    type: string
                  '@odata.nextLink':
                    type: string
                    format: uri
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/MailboxItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user-id}/mailboxes/{mailbox-id}/folders/{folder-id}/items/{item-id}/content:
    get:
      operationId: exportMailboxItemContent
      summary: Microsoft Exchange Export item content
      description: Export the full-fidelity content of a specific mailbox item in MIME format. Returns the complete item with all properties, headers, and attachments preserved for migration scenarios.
      tags:
      - Mailbox Export
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/MailboxIdParam'
      - $ref: '#/components/parameters/FolderIdParam'
      - $ref: '#/components/parameters/ItemIdParam'
      responses:
        '200':
          description: Successfully exported item content
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
                description: The MIME content of the item
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    UserIdParam:
      name: user-id
      in: path
      required: true
      description: The unique identifier or user principal name
      schema:
        type: string
    TopParam:
      name: $top
      in: query
      description: Number of items to return
      schema:
        type: integer
        minimum: 1
    FolderIdParam:
      name: folder-id
      in: path
      required: true
      description: The unique identifier of the folder
      schema:
        type: string
    SkipParam:
      name: $skip
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
    SelectParam:
      name: $select
      in: query
      description: Comma-separated list of properties to include
      schema:
        type: string
    MailboxIdParam:
      name: mailbox-id
      in: path
      required: true
      description: The unique identifier of the mailbox
      schema:
        type: string
    ItemIdParam:
      name: item-id
      in: path
      required: true
      description: The unique identifier of the item
      schema:
        type: string
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  schemas:
    ODataError:
      type: object
      description: OData error response
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            innerError:
              type: object
              properties:
                request-id:
                  type: string
                date:
                  type: string
                  format: date-time
    MailboxItem:
      type: object
      description: An item in a mailbox folder
      properties:
        id:
          type: string
          readOnly: true
          description: The item unique identifier
        itemType:
          type: string
          enum:
          - message
          - event
          - contact
          - task
          description: The type of mailbox item
        subject:
          type: string
          description: The subject of the item
        createdDateTime:
          type: string
          format: date-time
          description: When the item was created
        lastModifiedDateTime:
          type: string
          format: date-time
          description: When the item was last modified
        size:
          type: integer
          description: Size of the item in bytes
        internetMessageId:
          type: string
          description: The Internet message ID (for messages)
        hasAttachments:
          type: boolean
          description: Whether the item has attachments
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization with Microsoft identity platform
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token
          scopes:
            Mailbox.Import: Import content into mailboxes
            Mailbox.Export: Export content from mailboxes
            MailboxFolder.Read: Read mailbox folder information
